:root{
    --theme-gray: #ededec;
    --theme-dark-turquoise: #2f3f46;
    --theme-gold: #f6ba5b;
    --theme-olive: #93a183;
    --theme-navy: #1d344c;
    --theme-navy2: #1e454d;
    --theme-font: Kalam;
    --font-xlarge: 3.5rem;
    --font-large: 2.5rem;
    --font-regular: 1.5rem;
    --font-small: 1rem;
}

*{
    box-sizing: border-box;
    margin: 0;
}

p{
  font-family: var(--theme-font), sans-serif;
  font-size: var(--font-regular);
  color: var(--theme-navy);
}
h1{
  font-size: var(--font-xlarge);
  color: var(--theme-navy);
  font-family: var(--theme-font);
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  padding: 0rem 2.5rem;
  text-align: center;
  border-bottom: var(--theme-gold) .4rem solid;
  border-radius: 0% 0% 35% 0%;
  animation: fadeInLeft 1.5s ease-out;
  margin-bottom: .7rem;
}

h2{
  font-size: var(--font-large);
  color: var(--theme-navy);
  font-family: var(--theme-font);
  text-transform: uppercase;
  letter-spacing: .15em;
  font-style: italic;
  font-weight: bold;
  padding: 2rem 3rem 0rem;
  text-align: center;
  border-top: var(--theme-gold) .4rem solid;
  border-radius: 35% 0% 0% 0%;
  animation: fadeInRight 1.5s ease-out;
}
hr{
  border: var(--theme-gold) .3rem solid;
  border-radius: 50%;
  width: 35%;
  margin: 1.5em auto;
  opacity: 0;
}
h3{
  font-size: var(--font-regular);
  color: var(--theme-navy);
  font-family: var(--theme-font);
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: .15em;
  font-style: italic;
  font-weight: bold;
  padding: 2rem 3rem 0rem;
  text-align: center;
}
hr.intro-heading__top{
  animation: moveUp 1s ease-out 1.5s forwards;
}

hr.intro-heading__bottom{
  animation: moveDown 1s ease-out 1.5s forwards;
}

.main-container{
  /* display: grid; */
  /* grid-template-rows: 100vh repeat(3, min-content); */
  /* grid-template-columns: [start-point] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [end-point]; */
  /* align-items: stretch; */
  /* justify-items: center; */
}
.intro{
  display: grid;
  width: 100%;
  background-color: var(--theme-olive);
  background-image: url(../images/newlogo.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100vh;
  align-items: center;
  justify-items: end;
  /* grid-column: start-point / end-point; */
  /* padding-left: 3rem; */
 }
 .intro-heading{
  width: max-content;
  margin: 3rem 2rem 0rem 0rem;
}
.intro-buttons{
  opacity: 0;
  margin: 0rem .5rem 2rem;
  animation: moveDown 1s ease-out 1.5s forwards;
}

 .brief-cv{
  background-color: var(--theme-gold);
  display: flex;
  padding: 2rem 0 2rem 3rem;
  /* grid-column: start-point / end-point; */
 }
.brief-cv-wrapper{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--theme-olive);
  border-top: .3rem solid var(--theme-navy);
  border-left: .3rem solid var(--theme-navy);
  border-bottom: .3rem solid var(--theme-navy);
  border-radius: 50% 0% 0% 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.brief-cv-text{
  /* flex-grow: 3; */
}
/* .brief-cv-pic{
  border: .3rem solid var(--theme-navy2);
  border-radius: 50%;
} */
.brief-cv-pic__photo{
  width: 50%;
  height: 50%;
  display: block;
  margin: .5rem .5rem;
  border: .3rem solid var(--theme-navy2);
  border-radius: 50%;
}
.portfolio-projects{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--theme-gold);
  justify-content: center;
    /* grid-column: start-point / end-point; */
    
}
.portfolio-projects__grid{
  display: grid;
  grid-template-columns: repeat(3,  minmax(300px, 1fr));
  gap: 1.8rem;
  justify-items: center;
}
.portfolio-projects__heading{
  font-family: var(--theme-font);
  font-size: var(--font-large);
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: bold;
  color: var(--theme-navy);
 
}
.project{
  align-self: center;
 
}
 .project > img{
  width: 400px;
  opacity: 1;
  padding: 2rem 3rem;
 }
 .contacts{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--theme-olive);
 }

 footer{
  background-color: var(--theme-gray);
  display: flex;
  flex-wrap: wrap;
  /* grid-column: start-point / end-point; */
 }

/* CSS  for button*/
.intro-buttons > button {
  background-color: var(--theme-gold);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color:var(--theme-navy);
  font-family: var(--theme-font),sans-serif;
  font-size: var(--font-regular);
  font-weight: bold;
  line-height: 1.75rem;
  padding: 1rem 2.5rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none var(--theme-navy) solid;
  text-decoration-thickness: auto;
  max-width: 380px;
  margin: 0rem 4rem;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.intro-buttons > button:focus {
  outline: 0;
}

.intro-buttons > button:after {
  content: '';
  position: absolute;
  border: 1px solid var(--theme-navy);
  bottom: 6px;
  left: 6px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.intro-buttons > button:hover:after {
  bottom: 2px;
  left: 2px;
}

@keyframes fadeInLeft {
  0%
  {
    opacity: 0;
    transform: translateX(10rem) ;
  }
  75%
  {
    opacity: .8;
    transform: translateX(-2rem) ;
  }
  100%
  {
    opacity: 1;
    transform: translateX(0) ;
  }
}

@keyframes fadeInRight {
  0%
  {
    opacity: 0;
    transform: translateX(-10rem) ;
  }
  75%
  {
    opacity: .8;
    transform: translateX(2rem) ;
  }
  100%
  {
    opacity: 1;
    transform: translateX(0) ;
  }
}
@keyframes moveUp {
  0%
  {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0%
  {
    opacity: 0;
    transform: translateY(5rem);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .intro-buttons > button {
    padding: .75rem 3rem;
    font-size: var(--font-small);
  }
}
